.frase{
    font-size: 20px;
    text-align: left;
}

.texto-digitado{
    font-size: 20px;
    height: 150px;
    border: 3px solid #000;
}

.texto-digitado:focus{
    outline: none;
}

.palavras{
    font-weight: bolder;
}

.campo-desabilitado{
    background: lightgray;
}

.icones{
    vertical-align: middle;
}

.borda-vermelha{
    border: 3px solid rgb(255, 0, 0);
}

.borda-verde{
    border: 3px solid rgb(0, 255, 0);
}

.placar{
    display: none;
}

.erros{
    font-weight: 700;
    color: rgb(255, 0, 0);
    display: none;
}

#spinner{
    display: none;
}

#frase-id{
    width: 40px;
}